--color-slate-050: 210 40% 98%; /* #f8fafc */
--color-slate-100: 210 40% 96.1%; /* #f1f5f9 */
--color-slate-200: 214.3 31.8% 91.4%; /* #e2e8f0 */
--color-slate-300: 212.7 26.8% 83%; /* #cbd5e1 */
--color-slate-400: 215 20.2% 65.1%; /* #94a3b8 */
--color-slate-500: 215.4 16.3% 46.9%; /* #64748b */
--color-slate-600: 215.3 19.3% 34.5%; /* #475569 */
--color-slate-700: 215.3 25% 26.7%; /* #334155 */
--color-slate-800: 217.2 32.6% 17.5%; /* #1e293b */
--color-slate-900: 222.2 47.4% 11.2%; /* #0f172a */

--color-gray-050: 210 20% 98%; /* #f9fafb */
--color-gray-100: 220 14.3% 95.9%; /* #f3f4f6 */
--color-gray-200: 220 13% 91%; /* #e5e7eb */
--color-gray-300: 216 12.2% 83.9%; /* #d1d5db */
--color-gray-400: 217.9 10.6% 64.9%; /* #9ca3af */
--color-gray-500: 220 8.9% 46.1%; /* #6b7280 */
--color-gray-600: 215 13.8% 34.1%; /* #4b5563 */
--color-gray-700: 216.9 19.1% 26.7%; /* #374151 */
--color-gray-800: 215 27.9% 16.9%; /* #1f2937 */
--color-gray-900: 220.9 39.3% 11%; /* #111827 */

--color-zinc-050: 0 0% 98%; /* #fafafa */
--color-zinc-100: 240 4.8% 95.9%; /* #f4f4f5 */
--color-zinc-200: 240 5.9% 90%; /* #e4e4e7 */
--color-zinc-300: 240 4.9% 83.9%; /* #d4d4d8 */
--color-zinc-400: 240 5% 64.9%; /* #a1a1aa */
--color-zinc-500: 240 3.8% 46.1%; /* #71717a */
--color-zinc-600: 240 5.2% 33.9%; /* #52525b */
--color-zinc-700: 240 5.3% 26.1%; /* #3f3f46 */
--color-zinc-800: 240 3.7% 15.9%; /* #27272a */
--color-zinc-900: 240 5.9% 10%; /* #18181b */

--color-neutral-050: 0 0% 98%; /* #fafafa */
--color-neutral-100: 0 0% 96.1%; /* #f5f5f5 */
--color-neutral-200: 0 0% 89.8%; /* #e5e5e5 */
--color-neutral-300: 0 0% 83.1%; /* #d4d4d4 */
--color-neutral-400: 0 0% 63.9%; /* #a3a3a3 */
--color-neutral-500: 0 0% 45.1%; /* #737373 */
--color-neutral-600: 0 0% 32.2%; /* #525252 */
--color-neutral-700: 0 0% 25.1%; /* #404040 */
--color-neutral-800: 0 0% 14.9%; /* #262626 */
--color-neutral-900: 0 0% 9%; /* #171717 */

--color-stone-050: 60 9.1% 97.8%; /* #fafaf9 */
--color-stone-100: 60 4.8% 95.9%; /* #f5f5f4 */
--color-stone-200: 20 5.9% 90%; /* #e7e5e4 */
--color-stone-300: 24 5.7% 82.9%; /* #d6d3d1 */
--color-stone-400: 24 5.4% 63.9%; /* #a8a29e */
--color-stone-500: 25 5.3% 44.7%; /* #78716c */
--color-stone-600: 33.3 5.5% 32.4%; /* #57534e */
--color-stone-700: 30 6.3% 25.1%; /* #44403c */
--color-stone-800: 12 6.5% 15.1%; /* #292524 */
--color-stone-900: 24 9.8% 10%; /* #1c1917 */

--color-red-050: 0 85.7% 97.3%; /* #fef2f2 */
--color-red-100: 0 93.3% 94.1%; /* #fee2e2 */
--color-red-200: 0 96.3% 89.4%; /* #fecaca */
--color-red-300: 0 93.5% 81.8%; /* #fca5a5 */
--color-red-400: 0 90.6% 70.8%; /* #f87171 */
--color-red-500: 0 84.2% 60.2%; /* #ef4444 */
--color-red-600: 0 72.2% 50.6%; /* #dc2626 */
--color-red-700: 0 73.7% 41.8%; /* #b91c1c */
--color-red-800: 0 70% 35.3%; /* #991b1b */
--color-red-900: 0 62.8% 30.6%; /* #7f1d1d */

--color-orange-050: 33.3 100% 96.5%; /* #fff7ed */
--color-orange-100: 34.3 100% 91.8%; /* #ffedd5 */
--color-orange-200: 32.1 97.7% 83.1%; /* #fed7aa */
--color-orange-300: 30.7 97.2% 72.4%; /* #fdba74 */
--color-orange-400: 27 96% 61%; /* #fb923c */
--color-orange-500: 24.6 95% 53.1%; /* #f97316 */
--color-orange-600: 20.5 90.2% 48.2%; /* #ea580c */
--color-orange-700: 17.5 88.3% 40.4%; /* #c2410c */
--color-orange-800: 15 79.1% 33.7%; /* #9a3412 */
--color-orange-900: 15.3 74.6% 27.8%; /* #7c2d12 */

--color-amber-050: 48 100% 96.1%; /* #fffbeb */
--color-amber-100: 48 96.5% 88.8%; /* #fef3c7 */
--color-amber-200: 48 96.6% 76.7%; /* #fde68a */
--color-amber-300: 45.9 96.7% 64.5%; /* #fcd34d */
--color-amber-400: 43.3 96.4% 56.3%; /* #fbbf24 */
--color-amber-500: 37.7 92.1% 50.2%; /* #f59e0b */
--color-amber-600: 32.1 94.6% 43.7%; /* #d97706 */
--color-amber-700: 26 90.5% 37.1%; /* #b45309 */
--color-amber-800: 22.7 82.5% 31.4%; /* #92400e */
--color-amber-900: 21.7 77.8% 26.5%; /* #78350f */

--color-yellow-050: 54.5 91.7% 95.3%; /* #fefce8 */
--color-yellow-100: 54.9 96.7% 88%; /* #fef9c3 */
--color-yellow-200: 52.8 98.3% 76.9%; /* #fef08a */
--color-yellow-300: 50.4 97.8% 63.5%; /* #fde047 */
--color-yellow-400: 47.9 95.8% 53.1%; /* #facc15 */
--color-yellow-500: 45.4 93.4% 47.5%; /* #eab308 */
--color-yellow-600: 40.6 96.1% 40.4%; /* #ca8a04 */
--color-yellow-700: 35.5 91.7% 32.9%; /* #a16207 */
--color-yellow-800: 31.8 81% 28.8%; /* #854d0e */
--color-yellow-900: 28.4 72.5% 25.7%; /* #713f12 */

--color-lime-050: 78.3 92% 95.1%; /* #f7fee7 */
--color-lime-100: 79.6 89.1% 89.2%; /* #ecfccb */
--color-lime-200: 80.9 88.5% 79.6%; /* #d9f99d */
--color-lime-300: 82 84.5% 67.1%; /* #bef264 */
--color-lime-400: 82.7 78% 55.5%; /* #a3e635 */
--color-lime-500: 83.7 80.5% 44.3%; /* #84cc16 */
--color-lime-600: 84.8 85.2% 34.5%; /* #65a30d */
--color-lime-700: 85.9 78.4% 27.3%; /* #4d7c0f */
--color-lime-800: 86.3 69% 22.7%; /* #3f6212 */
--color-lime-900: 87.6 61.2% 20.2%; /* #365314 */

--color-green-050: 138.5 76.5% 96.7%; /* #f0fdf4 */
--color-green-100: 140.6 84.2% 92.5%; /* #dcfce7 */
--color-green-200: 141 78.9% 85.1%; /* #bbf7d0 */
--color-green-300: 141.7 76.6% 73.1%; /* #86efac */
--color-green-400: 141.9 69.2% 58%; /* #4ade80 */
--color-green-500: 142.1 70.6% 45.3%; /* #22c55e */
--color-green-600: 142.1 76.2% 36.3%; /* #16a34a */
--color-green-700: 142.4 71.8% 29.2%; /* #15803d */
--color-green-800: 142.8 64.2% 24.1%; /* #166534 */
--color-green-900: 143.8 61.2% 20.2%; /* #14532d */

--color-emerald-050: 151.8 81% 95.9%; /* #ecfdf5 */
--color-emerald-100: 149.3 80.4% 90%; /* #d1fae5 */
--color-emerald-200: 152.4 76% 80.4%; /* #a7f3d0 */
--color-emerald-300: 156.2 71.6% 66.9%; /* #6ee7b7 */
--color-emerald-400: 158.1 64.4% 51.6%; /* #34d399 */
--color-emerald-500: 160.1 84.1% 39.4%; /* #10b981 */
--color-emerald-600: 161.4 93.5% 30.4%; /* #059669 */
--color-emerald-700: 162.9 93.5% 24.3%; /* #047857 */
--color-emerald-800: 163.1 88.1% 19.8%; /* #065f46 */
--color-emerald-900: 164.2 85.7% 16.5%; /* #064e3b */

--color-teal-050: 166.2 76.5% 96.7%; /* #f0fdfa */
--color-teal-100: 167.2 85.5% 89.2%; /* #ccfbf1 */
--color-teal-200: 168.4 83.8% 78.2%; /* #99f6e4 */
--color-teal-300: 170.6 76.9% 64.3%; /* #5eead4 */
--color-teal-400: 172.5 66% 50.4%; /* #2dd4bf */
--color-teal-500: 173.4 80.4% 40%; /* #14b8a6 */
--color-teal-600: 174.7 83.9% 31.6%; /* #0d9488 */
--color-teal-700: 175.3 77.4% 26.1%; /* #0f766e */
--color-teal-800: 176.1 69.4% 21.8%; /* #115e59 */
--color-teal-900: 175.9 60.8% 19%; /* #134e4a */

--color-cyan-050: 183.2 100% 96.3%; /* #ecfeff */
--color-cyan-100: 185.1 95.9% 90.4%; /* #cffafe */
--color-cyan-200: 186.2 93.5% 81.8%; /* #a5f3fc */
--color-cyan-300: 187 92.4% 69%; /* #67e8f9 */
--color-cyan-400: 187.9 85.7% 53.3%; /* #22d3ee */
--color-cyan-500: 188.7 94.5% 42.7%; /* #06b6d4 */
--color-cyan-600: 191.6 91.4% 36.5%; /* #0891b2 */
--color-cyan-700: 192.9 82.3% 31%; /* #0e7490 */
--color-cyan-800: 194.4 69.6% 27.1%; /* #155e75 */
--color-cyan-900: 196.4 63.6% 23.7%; /* #164e63 */

--color-sky-050: 204 100% 97.1%; /* #f0f9ff */
--color-sky-100: 204 93.8% 93.7%; /* #e0f2fe */
--color-sky-200: 200.6 94.4% 86.1%; /* #bae6fd */
--color-sky-300: 199.4 95.5% 73.9%; /* #7dd3fc */
--color-sky-400: 198.4 93.2% 59.6%; /* #38bdf8 */
--color-sky-500: 198.6 88.7% 48.4%; /* #0ea5e9 */
--color-sky-600: 200.4 98% 39.4%; /* #0284c7 */
--color-sky-700: 201.3 96.3% 32.2%; /* #0369a1 */
--color-sky-800: 201 90% 27.5%; /* #075985 */
--color-sky-900: 202 80.3% 23.9%; /* #0c4a6e */

--color-blue-050: 213.8 100% 96.9%; /* #eff6ff */
--color-blue-100: 214.3 94.6% 92.7%; /* #dbeafe */
--color-blue-200: 213.3 96.9% 87.3%; /* #bfdbfe */
--color-blue-300: 211.7 96.4% 78.4%; /* #93c5fd */
--color-blue-400: 213.1 93.9% 67.8%; /* #60a5fa */
--color-blue-500: 217.2 91.2% 59.8%; /* #3b82f6 */
--color-blue-600: 221.2 83.2% 53.3%; /* #2563eb */
--color-blue-700: 224.3 76.3% 48%; /* #1d4ed8 */
--color-blue-800: 225.9 70.7% 40.2%; /* #1e40af */
--color-blue-900: 224.4 64.3% 32.9%; /* #1e3a8a */

--color-indigo-050: 225.9 100% 96.7%; /* #eef2ff */
--color-indigo-100: 226.5 100% 93.9%; /* #e0e7ff */
--color-indigo-200: 228 96.5% 88.8%; /* #c7d2fe */
--color-indigo-300: 229.7 93.5% 81.8%; /* #a5b4fc */
--color-indigo-400: 234.5 89.5% 73.9%; /* #818cf8 */
--color-indigo-500: 238.7 83.5% 66.7%; /* #6366f1 */
--color-indigo-600: 243.4 75.4% 58.6%; /* #4f46e5 */
--color-indigo-700: 244.5 57.9% 50.6%; /* #4338ca */
--color-indigo-800: 243.7 54.5% 41.4%; /* #3730a3 */
--color-indigo-900: 242.2 47.4% 34.3%; /* #312e81 */

--color-violet-050: 250 100% 97.6%; /* #f5f3ff */
--color-violet-100: 251.4 91.3% 95.5%; /* #ede9fe */
--color-violet-200: 250.5 95.2% 91.8%; /* #ddd6fe */
--color-violet-300: 252.5 94.7% 85.1%; /* #c4b5fd */
--color-violet-400: 255.1 91.7% 76.3%; /* #a78bfa */
--color-violet-500: 258.3 89.5% 66.3%; /* #8b5cf6 */
--color-violet-600: 262.1 83.3% 57.8%; /* #7c3aed */
--color-violet-700: 263.4 70% 50.4%; /* #6d28d9 */
--color-violet-800: 263.4 69.3% 42.2%; /* #5b21b6 */
--color-violet-900: 263.5 67.4% 34.9%; /* #4c1d95 */

--color-purple-050: 270 100% 98%; /* #faf5ff */
--color-purple-100: 268.7 100% 95.5%; /* #f3e8ff */
--color-purple-200: 268.6 100% 91.8%; /* #e9d5ff */
--color-purple-300: 269.2 97.4% 85.1%; /* #d8b4fe */
--color-purple-400: 270 95.2% 75.3%; /* #c084fc */
--color-purple-500: 270.7 91% 65.1%; /* #a855f7 */
--color-purple-600: 271.5 81.3% 55.9%; /* #9333ea */
--color-purple-700: 272.1 71.7% 47.1%; /* #7e22ce */
--color-purple-800: 272.9 67.2% 39.4%; /* #6b21a8 */
--color-purple-900: 273.6 65.6% 32%; /* #581c87 */

--color-fuchsia-050: 289.1 100% 97.8%; /* #fdf4ff */
--color-fuchsia-100: 287 100% 95.5%; /* #fae8ff */
--color-fuchsia-200: 288.3 95.8% 90.6%; /* #f5d0fe */
--color-fuchsia-300: 291.1 93.1% 82.9%; /* #f0abfc */
--color-fuchsia-400: 292 91.4% 72.5%; /* #e879f9 */
--color-fuchsia-500: 292.2 84.1% 60.6%; /* #d946ef */
--color-fuchsia-600: 293.4 69.5% 48.8%; /* #c026d3 */
--color-fuchsia-700: 294.7 72.4% 39.8%; /* #a21caf */
--color-fuchsia-800: 295.4 70.2% 32.9%; /* #86198f */
--color-fuchsia-900: 296.7 63.6% 28%; /* #701a75 */

--color-pink-050: 327.3 73.3% 97.1%; /* #fdf2f8 */
--color-pink-100: 325.7 77.8% 94.7%; /* #fce7f3 */
--color-pink-200: 325.9 84.6% 89.8%; /* #fbcfe8 */
--color-pink-300: 327.4 87.1% 81.8%; /* #f9a8d4 */
--color-pink-400: 328.6 85.5% 70.2%; /* #f472b6 */
--color-pink-500: 330.4 81.2% 60.4%; /* #ec4899 */
--color-pink-600: 333.3 71.4% 50.6%; /* #db2777 */
--color-pink-700: 335.1 77.6% 42%; /* #be185d */
--color-pink-800: 335.8 74.4% 35.3%; /* #9d174d */
--color-pink-900: 335.9 69% 30.4%; /* #831843 */

--color-rose-050: 355.7 100% 97.3%; /* #fff1f2 */
--color-rose-100: 355.6 100% 94.7%; /* #ffe4e6 */
--color-rose-200: 352.7 96.1% 90%; /* #fecdd3 */
--color-rose-300: 352.6 95.7% 81.8%; /* #fda4af */
--color-rose-400: 351.3 94.5% 71.4%; /* #fb7185 */
--color-rose-500: 349.7 89.2% 60.2%; /* #f43f5e */
--color-rose-600: 346.8 77.2% 49.8%; /* #e11d48 */
--color-rose-700: 345.3 82.7% 40.8%; /* #be123c */
--color-rose-800: 343.4 79.7% 34.7%; /* #9f1239 */
--color-rose-900: 341.5 75.5% 30.4%; /* #881337 */
