html[data-theme="light-soft"] {
  --color-red-050: 0 85.7% 97.3%; /* #fef2f2 */
  --color-red-100: 0 93.3% 94.1%; /* #fee2e2 */
  --color-red-200: 0 96.3% 89.4%; /* #fecaca */
  --color-red-300: 0 93.5% 81.8%; /* #fca5a5 */
  --color-red-400: 0 90.6% 70.8%; /* #f87171 */
  --color-red-500: 0 84.2% 60.2%; /* #ef4444 */
  --color-red-600: 0 72.2% 50.6%; /* #dc2626 */
  --color-red-700: 0 73.7% 41.8%; /* #b91c1c */
  --color-red-800: 0 70% 35.3%; /* #991b1b */
  --color-red-900: 0 62.8% 30.6%; /* #7f1d1d */

  --background: var(--color-red-050);
  --foreground: var(--color-red-900);

  --primary: var(--color-red-700);
  --primary-foreground: var(--color-red-050);

  --secondary: var(--color-red-100);
  --secondary-foreground: var(--color-red-900);

  --card: var(--background);
  --card-foreground: var(--color-red-900);

  --popover: var(--color-red-050);
  --popover-foreground: var(--color-red-900);

  --muted: var(--color-red-100);
  --muted-foreground: var(--color-red-900);

  --accent: var(--color-red-100);
  --accent-foreground: var(--color-red-900);

  --border: var(--color-red-200);
  --input: var(--color-red-200);

  --radius: 1rem;
}
