name: Tag Version

on:
  schedule:
    # Runs every Tuesday at 9:00 AM UTC (optimal visibility during business hours)
    - cron: "0 9 * * 2"

permissions:
  contents: read # for checkout

jobs:
  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    name: Tag New Version
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Set Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        shell: bash
        run: bun install --frozen-lockfile --silent

      - name: Tag Version
        run: bun release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
